.firstTimeToolbar .x-toolbar-title {
    background-color: #1F489E;
    color: white;
}
.twitterHelpToolbar .x-toolbar-title {
    background-color: #1F489E;
    color: white;
}


.firstTimeUser {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	margin: 0 0 0 0;

}

.firstTimeUser .welcome {

    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	line-height: normal;

}

.plusIcon {
    -webkit-background-size: contain;
    background: url("'../../images/plus_icon.png'") no-repeat;
    height: 40px;
    margin-top: -12px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
    width: 40px;
}

.home h2 {
    color: #071F52;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin: 1.7em 0 .2em 0;
    text-shadow: 0em .2em .2em #FFFFFF;
}

.home p {
    color: #071F52;
    font-size: 0.6em;
    font-weight: normal;
    text-align: left;
    margin: .5em 0 .2em 0;
    padding: 0 1em 0 1em;
}

.msg p{
    color: #AA2200;
    font-size: 0.6em;
    font-weight: normal;
}

.helpbox h2 {
    color: #071F52;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin: 1.7em 0 .2em 0;
    text-shadow: 0em .2em .2em #FFFFFF;
}

.helpbox p {
    color: #071F52;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
    margin: .5em 0 .2em 0;
    padding: 0 1em 0 1em;
}

.tmcButton {
    font-size: .99em;
}

.trainRow {

    line-height: 2em;

}

.imageLeft {
    float: left;
    margin-right: 1em;
    height: 2.3em;
}

.imageRight {
    float: right;
    vertical-align: middle;
    width: .9em;
}

.trainName {

}

.trainBackButton {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0.5em;
    margin-bottom: 0;
    height: 2.2em;
}

.reportButton {
    height: 2em;
    margin-right: .5em;
}

.loading {
    background: rgba(0, 0, 0, 0.3) url(../../images/loading.gif) center center no-repeat;
    display: block;
    width: 10em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: -5em;
    -webkit-border-radius: .5em;
    color: #fff;
    text-shadow: #000 0 1px 1px;
    text-align: center;
    padding-top: 8em;
    font-weight: bold
}

.helpbox {

    width: 90%;
    margin: auto;

}

/**** Speech Bubble Icons *****/
.spch-bub-inside,
.spch-bub-outside {
    position: relative;
    float: right;
}

.spch-bub-inside-severe,
.spch-bub-outside-severe {
    position: relative;
    float: right;
}

.spch-bub-inside-medium,
.spch-bub-outside-medium {
    position: relative;
    float: right;
}

a.spch-bub-inside,
a.spch-bub-outside {
    color: #00F;
    text-decoration: none;

}

a.spch-bub-inside-severe,
a.spch-bub-outside-severe {
    color: #FF0000;
    text-decoration: none;

}

a.spch-bub-inside-medium,
a.spch-bub-outside-medium {
    color: #FF9900;
    text-decoration: none;

}
.x-form-fieldset .x-field.x-label-align-left label {
    left: 0px;
    text-align: right;
    width: 4em;
}

.header{background-color:#bababa; padding:.3em; font-weight:bold; font-size: 1em;  position:relative;overflow:hidden;text-shadow:rgba(255, 255, 255, 0.25) 0 0.08em 0}
.content{padding: .5em 0 .2em 0;font-size: .9em; }
.highlight{color:#AA2200;font-size: 1em;vertical-align:text-top;}

.red{color:red;font-size: 1em;font-weight:bold;}
.yellow{color:#CCCC00;font-size: 1em;font-weight:bold;}
.green{color:green;font-size: 1em;font-weight:bold;}

.redIndi{background-color:red;font-size: 1em;vertical-align:text-top;}
.yellowIndi{background-color:#CCCC00;font-size: 1em;vertical-align:text-top;}
.greenIndi{background-color:green;font-size: 1em;vertical-align:text-top;}
.silverIndi{background-color:#bababa; padding:.3em; font-weight:bold; font-size: 1em;  position:relative;overflow:hidden;text-shadow:rgba(255, 255, 255, 0.25) 0 0.08em 0}


table.contentTable{font-size:.8em; cellpadding:.2em}

table.contentTable td
{
    margin:10px;
    padding:5px;
    text-align: left;    
}

.x-button-round,.x-button.x-button-action-round,.x-button.x-button-confirm-round,.x-button.x-button-decline-round{-webkit-border-radius:0.9em;border-radius:0.9em;padding:0.1em 0.9em}.x-button-small,.x-button.x-button-action-small,.x-button.x-button-confirm-small,.x-button.x-button-decline-small,.x-toolbar .x-button-small,.x-toolbar .x-button.x-button-action-small,.x-toolbar .x-button.x-button-confirm-small,.x-toolbar .x-button.x-button-decline-small{-webkit-border-radius:0.3em;border-radius:0.3em;padding:.2em .4em;min-height:0}.x-button-small 


.x-tabbar.x-docked-top .x-tab {
margin: .4em .2em;
padding: 0.4em 0.8em;
height: 1.8em;
-webkit-border-radius: 0.1em;
border-radius: 0.1em;
}

.notes {width:380px; height:400px;border-width:2px; border-color:black; padding: 0.4em 0.8em; background-color:yellow; background-image:'../images/stickyBig.jpg'}



div.background
  {
  width:'100%';
  height:380px;
  padding:10px;
  background:url(../images/stickyBig.jpg)  no-repeat ;
  background-size: 100%;
  /*border:2px solid black;*/
  }
  
div.transbox
  {
  width:'95%';
  height:360px;
  padding:10px;
  /*
  background-color:#ffffff;
  border:1px solid black;
  */
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
  }

div.transbox p
  {
	font-family: cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: large;
	line-height: 1.5em;
	word-spacing: normal;
	letter-spacing: 0.1ex;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
  }

div.notesHeading p
  {
	font-family: cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: x-large;
	color:green;
	line-height: 1.2em;
	word-spacing: normal;
	letter-spacing: 0.1ex;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	text-indent: 0ex;
  }

.legislator-tnail{width:50px;height:50px;background-position:center center;-webkit-border-radius:5px;overflow:hidden;position:absolute;left:10px;top:10px;-webkit-box-shadow:#ccc 0 1px 2px}
.legislator-list-item{height:60px;position:relative;overflow:hidden;font-weight:bold;padding:20px 10px 10px 70px !important;text-shadow:rgba(255, 255, 255, 0.25) 0 0.08em 0}
 
.x-form-fieldset {margin: .1em 0 .1em;}
